Editorial/game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1" xml:lang="es">
	<xs:element name="informe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cabecera">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="subtitulo" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                            <xs:element name="fecha" type="xs:string" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="datos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="plataforma">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="playstation">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO" />
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="xbox">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="nintendo">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                    <xs:element name="trimestreD">
                                                        <xs:simpleType>
	                                                        <xs:restriction base="xs:integer"> 
		                                                        <xs:pattern value="[1-4]{1}"/>
	                                                        </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="juegosVendidosD" type="xs:string" default="NO_INFO"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="trimestre" type="xs:string"/>
                            <xs:element name="juegosVendidos" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>